# Configurações do VS Code e Language Servers
.vscode/
.luarc.json

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Pastas de release geradas localmente (opcional)
.release/
HISTORICO_SESSAO.md
.github/